<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>CatDog - Home</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  <div class="container">
    <div class="row">
        <div class="col-md-12 jumbotron jumbo-style text-center" id="home"></div>
    </div>
    <div id="main" class="row">
      <hr>
      <form method="post" enctype="multipart/form-data">
        <label for="file" style="cursor: pointer;">Upload Image</label>
        <input type="file"  accept="image/*" name="image" id="file" onclick="hide_output()" onchange="loadFile(event)" style="display: none;">
        <input type="submit" value="submit" id="btnID">
      </form>
      <hr>
      <p><img id="output" width="200" /></p>
      <hr>
    </div>
  </div>

<!-- JS scripts -->
  <script type="text/javascript" src="../static/logic.js"></script>
</body>
</html>
